# Dependency directories
/node_modules

# Compiled output
/dist
/dist-out
/coverage

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.user
*.bak
*.cache
*.log
*.npmrc

# Build artifacts
*.js.map
*.css.map
*.ngsummary.json
*.ngstyle.js
*.ngfactory.js

# Test files
/__tests__

# Miscellaneous
.DS_Store
Thumbs.db
